:root {
	--container-width: 1640px;
	--container-padding: 15px;
	--container-padding_tablet: 50px;
	--container-padding_desk: 20px;

	--text-color: #333333;
	--black-color: #000;
	--white-color: #fff;
	--grey-color: #999999;
	--bright-grey-color: #999999;
	--brightest-primary-color: #D1A9F0;
	--bright-primary-color: #C283F3;
	--primary-color: #9D5CD0;
	--dark-primary-color: #7943A4;
	--green-color: #30BF39;
	--blue-color: #26A5E4;
	--red-color: #D11616;
}
