.footer {
	background-color: var(--black-color);

	&__container {
		padding-bottom: 48px;
		padding-top: 47px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1024px) {
			padding-bottom: 40px;
			padding-top: 40px;
		}

		@media (max-width: 360px) {
			padding-top: 20px;
			padding-bottom: 20px;
			flex-direction: column-reverse;
		}
	}

	&__logo {

		&:focus {
			outline: 5px solid  var(--dark-primary-color);
		}
	
		&_tablet {
			display: none;
		}
		&_mobile {
			display: none;
		}

		&-link {
			transition: outline .1s ease-in-out, background-color .2s ease-in-out;
			
			&:focus {
				background-color: var(--dark-primary-color);
				color: var(--white-color);
				outline: 5px solid  var(--dark-primary-color);
			}

			&:focus-visible {
				background-color: var(--dark-primary-color);
				outline-offset: 0;
				outline: 5px solid  var(--dark-primary-color);

			}
			@media (max-width: 768px) {
				padding-left: 2px;
			}
		}

		@media (max-width: 360px) {
			&_mobile {
				display: initial;
			}

			&_desk {
				display: none;
			}
		}
	}

	&__list {
		display: flex;

		@media (max-width: 360px) {
			margin-bottom: 20px;
		}

		&-item {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		&-link {
			&:hover,
			&:focus {
				border: none;
				outline: none;
				& > .footer__list-svg {
					& > path {
						fill: var(--white-color);
					}
				}
			}

			&:active {
				border: none;
				outline: none;
				& > .footer__list-svg {
					& > path {
						fill: var(--primary-color);
					}
				}
			}
		}
		&-svg {
			height: 45px;
			width: 45px;

			@media (max-width: 1024px) {
				height: 60px;
				width: 60px;
			}

			@media (max-width: 360px) {
				height: 50px;
				width: 50px;
			}
		}
	}
}