.footer {
  background-color: var(--black-color);
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 767.98px) {
    padding-top: 40px;
	padding-bottom: 40px;
  }

  @media (min-width: 1399.98px) {
    padding-top: 47px;
	padding-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 767.98px) {
      flex-direction: initial;
    }
  }

  &__logo {
    transition: outline 0.1s ease-in-out;
    &_mobile {
      display: initial;
    }

    &_tablet {
      display: none;
    }

    &_desk {
      display: none;
    }

    @media (min-width: 767.98px) {
      &_tablet {
        display: initial;
      }

      &_mobile {
        display: none;
      }
    }

    &:focus {
      outline: 5px solid var(--dark-primary-color);
    }

    &-link {
      padding-left: 2px;
      transition: outline 0.1s ease-in-out, background-color 0.2s ease-in-out;

	  @media (min-width: 1399.98px) {
		padding-left: 0;
	  }

      &:focus {
        background-color: var(--dark-primary-color);
        color: var(--white-color);
        outline: 5px solid var(--dark-primary-color);
      }

      &:focus-visible {
        background-color: var(--dark-primary-color);
        outline-offset: 0;
        outline: 5px solid var(--dark-primary-color);
      }
    }
  }

  &__list {
    display: flex;
    margin-bottom: 20px;
	max-width: 300px;
	flex-wrap: wrap;
	grid-gap: 20px;

    @media (min-width: 767.98px) {
      margin-bottom: 0;
    }

    &-link {
      &:hover,
      &:focus {
        border: none;
        outline: none;
        & > .footer__list-svg {
          & > path {
			transition: fill .1s ease-in-out;
            fill: var(--white-color);
          }
        }
      }

      &:active {
        border: none;
        outline: none;
        & > .footer__list-svg {
          & > path {
			transition: fill .1s ease-in-out;
            fill: var(--primary-color);
          }
        }
      }
    }
    &-svg {
      height: 50px;
      width: 50px;

      @media (min-width: 767.98px) {
        height: 60px;
        width: 60px;
      }

	  @media (min-width: 1399.98px) {
        height: 45px;
        width: 45px;
	  }
    }
  }
}
