.header {
  padding-top: 16px;
  padding-bottom: 11px;
  background-color: var(--black-color);

  @media (min-width: 767.98px) {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  @media (min-width: 1919.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }

  & {
    a {
      color: #fff;
    }
  }

  &__content {
    width: 100%;
    z-index: 9;
    background-color: var(--text-color);

    pointer-events: none;
  }

  &__nav {
    width: 100%;
    pointer-events: all;
  }

  &__logo {
    &_tablet {
      display: none;
    }
    &_desk {
      display: none;
    }
    &_mobile {
      display: inline;
    }
    width: 96.8px;
    height: 22px;
    min-width: 96.8px;
    min-height: 22px;

    @media (min-width: 767.98px) {
      width: 187.8px;
      height: 42px;
      min-width: 187.8px;
      min-height: 42px;
      &_tablet {
        display: inline;
      }
      &_mobile {
        display: none;
      }
    }

    @media (min-width: 1919.98px) {
      width: 173px;
      height: 39.9px;
      min-width: 173px;
      min-height: 39.9px;
      &_tablet {
        display: none;
      }
      &_desk {
        display: inline;
      }
    }

    &:focus,
    &:focus-visible {
      outline: 5px solid var(--dark-primary-color);
      outline-offset: 0;
    }
  }

  &__search {
    &_desk {
      display: none;
    }
    &_tablet {
      display: inline;
    }

    @media (min-width: 1919.98px) {
      &_desk {
        display: inline;
      }
      &_tablet {
        display: none;
      }
    }
  }
}
