.nav {

	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1399.98px) {
		flex-direction: column;
	}
	
	&__top-content {
		width: fit-content;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1399.98px) {
			padding-left: 6px;
			margin-bottom: 23px;
			width: 100%;
		}

		@media (max-width: 767.98px) {
			padding-left: 0;
			margin-bottom: 14px;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		padding-right: 7.4%;
		@media (max-width: 1399.98px) {
			margin-right: 0;
			padding-right: 0;
		}
	}

	&__mobile-nav {
		display: flex;
		justify-content: flex-end;
	}

	&__list {	
		ul {
			display: flex;
			align-items: center;
			column-gap:96px;
			font-weight: 600;
			font-size: 18px;
			line-height: 1.22;

			@media (max-width: 1024px) {
				padding-left: 5px;
			}

			@media (max-width: 991.98px) {
				padding-left: 0;
				column-gap: 44px;
			}

			@media (max-width: 767.98px) {
				padding-left: 6px;
				column-gap: 26px;
				font-size: 12px;
			}

			@media (max-width: 445.98px) {
				max-width: 365px;
				overflow: scroll;
				&::-webkit-scrollbar {
					display: none;
				}
			}

			@media (max-width: 369.98px) {
				max-width: 330px;
			}

			@media (max-width: 320.98px) {
				max-width: 300px;
			}
		}

		& a {
			position: relative;
			transition: all .2s ease-in-out;
			
			&:focus {
				padding: 5px;
				background-color: var(--dark-primary-color);
				color: var(--white-color);
				outline: none;
				-webkit-text-stroke: 1px var(--black-color); /* Толщина и цвет обводки */
			}
		
			&:hover {
				color: var(--bright-primary-color);
			}

			&:active {
				color: var(--dark-primary-color);
			}
		}
	}
	
}