.nav {
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (min-width: 1919.98px) {
    flex-direction: initial;
    align-items: center;
  }

  &__top-content {
    width: 100%;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 767.98px) {
      margin-bottom: 26px;
    }

    @media (min-width: 1919.98px) {
      margin-bottom: 0;
      width: initial;
		}

  }

  &__logo {
    margin-right: 170px;
    transition: outline 0.2s ease-in-out;
    &:focus,
    &:focus-visible {
      outline: 5px solid var(--dark-primary-color);
      outline-offset: 5px;
    }

    @media (min-width: 1919.98px) {
      margin-right: 179px;
    }
  }

  &__list {
    max-width: 100%;
    display: flex;
    align-items: center;
    column-gap: 26px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.22;
    overflow: scroll;

    @media (min-width: 767.98px) {
      column-gap: 44px;
      font-size: 18px;
    }

    @media (min-width: 1023.98px) {
      column-gap: 96px;
      overflow: initial;
      flex-wrap: wrap;
      justify-content: start;
    }

    @media (min-width: 1919.98px) {
      margin-right: 18.5%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & a {
      position: relative;
      transition: outline 0.2s ease-in-out;

      &:focus {
        background-color: var(--dark-primary-color);
        color: var(--white-color);
        outline: 5px solid var(--dark-primary-color);
      }

      &:focus-visible {
        background-color: var(--dark-primary-color);
        outline-offset: 0;
        outline: 5px solid var(--dark-primary-color);
      }

      &:hover {
        color: var(--bright-primary-color);
      }

      &:active {
        color: var(--dark-primary-color);
      }
    }
  }

  &__mobile-nav {
    display: flex;
    justify-content: flex-end;
  }
}
