.search {
  &__button {
    width: 18px;
    height: 18px;
    transition: outline 0.2s ease-in-out;

    @media (min-width: 767.98px) {
      width: 28px;
      height: 28px;
    }

    &:focus {
      background-color: var(--dark-primary-color);
      color: var(--white-color);
      outline: 5px solid  var(--dark-primary-color);
    }

    &:active {
      background-color: transparent;
    }
  }
  &__icon {
    width: 18px;
    height: 18px;

    @media (min-width: 767.98px) {
      width: 28px;
      height: 28px;
    }

    & > path,
    & > rect {
      fill: var(--white-color);
      transition: all 0.2s ease-in-out;
    }

    &:hover > path,
    &:hover > rect {
      fill: var(--bright-primary-color);
    }

    &:active > path,
    &:active > rect {
      fill: var(--dark-primary-color);
    }
  }
}
