:root {
  --form-control-color: rebeccapurple;
}

.section-gallery {
    background-image: url(./../img/section-gallery/section-gallery__bg.png);

    &__title {
        color: var(--text-color-white);
    }

    &__form-control {
        display: flex;
        align-items: center;
        color: var(--text-color-white);
        font-size: 16px;
        line-height: 32px;

        & + & {
            margin-top: 1em;
        }
    }

    &__input {
        margin-right: 12px;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--form-background);
      
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
      
        display: grid;
        place-content: center;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            /* Windows High Contrast Mode */
            background-color: CanvasText;
        }

        &:checked::before {
            transform: scale(1);
        }

        &:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
          }
    }
}