.section-hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(./../img/section-hero/section-hero__bg_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 767.98px) {
    padding-top: 87px;
    padding-bottom: 86px;
    background-image: url(./../img/section-hero/section-hero__bg.jpg);
  }

  @media (min-width: 1019.98px) {
    padding-top: 101px;
    padding-bottom: 101px;
  }

  @media (min-width: 1399.98px) {
    padding-top: 146px;
    padding-bottom: 146px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 767.98px) {
      justify-content: initial;
      align-items: initial;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 28px;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;

    @media (min-width: 767.98px) {
      margin-bottom: 20px;
      max-width: 579px;
      font-size: 72px;
      line-height: 68px;
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 40px;
    max-width: 264px;
    font-size: 12px;
    line-height: 16px;
    color: var(--white-color);
    text-align: center;
    @media (min-width: 767.98px) {
      margin-bottom: 132px;
      max-width: 558px;
      font-size: 18px;
      line-height: 30px;
      text-align: left;
      font-weight: 700;
    }

    @media (min-width: 1019.98px) {
      margin-bottom: 133px;
      max-width: 700px;
    }

    @media (min-width: 1399.98px) {
        margin-bottom: 92px;
        max-width: 621px;
      }
  }

  &__button {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 12px;
    font-weight: 700;

    @media (min-width: 767.98px) {
      width: 314px;
      height: 70px;
      font-size: 18px;
    }
  }
}
