.section-events {
    &__container {
        padding-top: 33px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__date-description {
        margin-bottom: 11px;
        font-weight: 600;
        font-size: 12px;
        color: var(--grey-color);

        &-first {
            margin-bottom: -1px;
        }

        @media (max-width: 1400px) {
            margin-bottom: 4px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            letter-spacing: -0.2px;
        }
    }

    &__list {
        display: flex;

        &-item {
            width: 500px;
            @media (max-width: 1400px) {
                width: 290px;
            }
    
            &:not(:last-child) {
                margin-right: 3.1%;
            }

            &-content {
                min-height: 400px;
                display: flex;
                flex-direction: column;
                padding: 13px 49px 40px;
                border-left: 1px solid var(--grey-color);
                border-right: 1px solid var(--grey-color);
                border-bottom: 1px solid var(--grey-color);

                @media (max-width: 1400px) {
                    min-height: 483px;
                    padding: 13px 33px 47px;
                }
            }

            &-title {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 24px;

                &_tablet {
                    display: none;
                }

                @media (max-width: 1400px) {
                    &_tablet {
                        display: initial;
                    }
                    &_desk {
                        display: none;
                    }
                    margin-bottom: 8px;
                }
            }
        }
    } 

    &__text {
        font-size: 16px;
        line-height: 32px;
    }

    &__link {
        margin-top: auto;
        max-width: fit-content;
        font-size: 16px;
        line-height: 32px;
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
    }
}