.section-form {
    &__container {
        padding-top: 38px;
        padding-bottom: 43px;

        @media (max-width: 1640px) {
            padding-top: 36px;
        }

        @media (max-width: 360px) {
            padding-top: 0;
        }
    }

    &__content {
        display: flex;

        @media (max-width: 1640px) {
            flex-wrap: wrap;
        }
    }
    &__address-block {
        padding-top: 7px;
        margin-right: 5%;

        @media (max-width: 1640px) {
            margin-bottom: 16px;
            margin-right: 0;
        }

        @media (max-width: 360px) {
            margin-bottom: 6px;
        }

        &-b {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;

            @media (max-width: 1640px) {
                display: inline-block;
                margin-bottom: 10px;
            }

            @media (max-width: 360px) {
                font-size: 18px;
                margin-bottom: 0;
            }
        }
        &-p {
            font-size: 16px;
            line-height: 32px;

            @media (max-width: 1640px) {
                font-size: 14px;
                line-height: initial;
            }
        }
    }

    &__form {
        display: flex;
        align-items: flex-start;
        padding-top: 14px;
        margin-right: 5%;

        @media (max-width: 1640px) {
            margin-right: 0;
            margin-bottom: 30px;
        }

        @media (max-width: 1023.98px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media (max-width: 360px) {
            margin-bottom: 20px;
        }
    }

    &__input {
        width: 270px;
        height: 50px;
        padding: 9px 43px 9px 24px;
        font-size: 16px;
        line-height: 32px;
        color: var(--grey-color);
        border: 1px solid var(--black-color);
        border-radius: 100px;

        &:not(:last-child) {
            margin-right: 20px;
        }

        @media (max-width: 1023.98px) {
            margin-bottom: 12px;
            width: 324px;

            
            &:not(:last-child) {
                margin-right: 0;
            }
        }

        @media (max-width: 360px) {
            width: 290px;
            height: 40px;
            margin-bottom: 20px;
        }
    }

    &__submit-btn {
        width: 329px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        border-radius: 100px;
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 700;
        border: 2px solid var(--primary-color);

        @media (max-width: 1640px) {
            width: 343px;
        }

        @media (max-width: 1023.98px) {
            width: 317px;
        }

        &_mobile {
            display: none;
        }

        @media (max-width: 740px) {
            &_mobile {
                padding-top: 3px;
                width: 128px;
                height: 40px;
                display: initial;
                font-size: 12px;
            }

            &_desk {
                display: none;
            }
        }
    }

    &__social {
        &-list {
            display: flex;
            &-item {
                &:not(:last-child) {
                    margin-right: 21px;
                    @media (max-width: 1023.98px) {
                        margin-right: 20px;
                    }
                }
            }
            &-svg {
                width: 40px;
                height: 40px;

                @media (max-width: 360px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        &-title {
            display: inline-block;
            margin-bottom: 6px;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;

            @media (max-width: 360px) {
                margin-bottom: 7px;
                font-size: 18px;
                letter-spacing: -.4px;
            }
        }
    }
    
    // &__label {
    //     font-size: 16px;
    //     line-height: 32px;
    //     color: var(--grey-color);
    // }
}