:root {
  --form-control-color: #C283F3;
}

.section-gallery {
    background-image: url(./../img/section-gallery/section-gallery__bg.png);

    &__container {
        padding-top: 83px;
        padding-bottom: 80px;

        @media (max-width: 340px) {
            padding-top: 40px;
        }
    }

    &__title {
        margin-bottom: 23px;
        color: var(--text-color-white);
        
        @media (max-width: 1640px) {
            margin-bottom: 19px;
        }

        @media (max-width: 340px) {
            margin-bottom: 2px;
            font-size: 28px;
        }
    }

    &__form-control {
        display: flex;
        align-items: center;
        color: var(--text-color-white);
        font-size: 16px;
        line-height: 32px;
    }

    &__input {
        margin-right: 12px;
        -webkit-appearance: none;
        appearance: none;
        color: var(--text-color-white);
        width: 12px;
        height: 12px;
        border: 1px solid var(--text-color-white);
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &::before {
            content: "";
            width: 4px;
            height: 4px;
            clip-path: circle(50%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            box-shadow: inset 4px 4px var(--form-control-color);
        }

        &:checked {
            border-color: var(--form-control-color);
            &::before {
                transform: scale(1);
            }
        }
    }

    &__content {
        display: flex;

        @media (max-width: 1640px) {
            flex-direction: column;
        }

        &-left {
            min-width: 28.1%;
            display: flex;
            align-items: flex-end;

            @media (max-width: 1640px) {
                margin-bottom: 30px;
                align-items: initial;
            }

            @media (max-width: 340px) {
                margin-bottom: 29px;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-column-gap: 50px;

        @media (max-width: 1640px) {
            grid-template-columns: repeat(3, 275px);
        }

        @media (max-width: 986px) {
            grid-template-columns: repeat(3, 200px);
            grid-column-gap: 34px;
        }

        @media (max-width: 767.98px) {
            grid-template-columns: repeat(3, 150px);
            grid-column-gap: 34px;
        }

        @media (max-width: 590px) {
            grid-template-columns: repeat(1, 290px);
            grid-row-gap: 30px;
        }
    }

}