.section-catalog {
  padding-top: 40px;
  @media (min-width: 767.98px) {
    padding-top: 83px;
  }

  &__title {
    margin-bottom: 1px;
    @media (min-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    max-width: 1080px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;

    @media (min-width: 767.98px) {
      margin-bottom: 39px;
    }

    @media (min-width: 1023.98px) {
      margin-bottom: 38px;
    }
  }

  &__name {
    margin-bottom: 7px;

    &_desk {
      display: none;
    }

    font-size: 24px;
    font-weight: 600;

    @media (min-width: 767.98px) {
      &_desk {
        display: initial;
      }
      &_mobile {
        display: none;
      }
    }
  }

  &__years {
    margin-bottom: 13px;
    font-size: 12px;
    color: var(--grey-color);

    @media (min-width: 767.98px) {
      margin-bottom: 7px;
    }

    @media (min-width: 1023.98px) {
      margin-bottom: 17px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    @media (min-width: 767.98px) {
      padding-top: 30px;
    }

    @media (min-width: 1399.98px) {
      padding-top: 119px;
    }
    &-text {
      max-width: 925px;
      font-size: 16px;
      line-height: 32px;

      @media (min-width: 1399.98px) {
        max-width: 800px;
      }
    }
  }

  &__list {
    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      @media (min-width: 767.98px) {
        margin-bottom: 50px;
      }

      @media (min-width: 1399.98px) {
        flex-direction: initial;
      }
    }
  }

  &__picture {
    margin-right: 50px;
    min-width: 290px;

    @media (min-width: 767.98px) {
      margin-right: 0;
    }

    @media (min-width: 1023.98px) {
      min-width: 750px;
    }

    @media (min-width: 1399.98px) {
      margin-right: 50px;
    }
  }
}
