:root {
	--radial-bg: radial-gradient(
		50% 50% at 50% 50%,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.2) 100%
	);

	--linear-bg: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0) 99.99%,
		rgba(255, 255, 255, 0) 100%
	);
}

@mixin background-size {
	background-position: center center; /* x y */
	background-size: cover;
	background-repeat: no-repeat;
}

.slide {
	padding: 146px 0 80px 161px;
	height: 700px;
	overflow: hidden;

	display: flex;
	background-position: center center; /* x y */
	background-size: cover !important;
	background-repeat: no-repeat;
	
	background: var(--radial-bg), var(--linear-bg),
		url('./../img/slider-bg/slideOneDesk.jpg');

	@media (max-width: 1399.98px) {
		height: 621px;
		padding: 100px 0 80px 51px;
    }

	@media (max-width: 1200px) {
		padding-bottom: 60px;
	}

	@media (max-width: 991.98px) {
		padding-top: 85px;
	}
	
	@media (max-width: 767.98px) {
		height: 310px;
		padding-top: 50px;
		padding-left: 35px;
		padding-bottom: 50px;
	}
	@include background-size;
	color: #fff;

	&::before {
		content: '';
	}

	cursor: grab;

	&:active {
		cursor: grabbing;
	}

	&__text {
		margin-bottom: 92px;
		font-size: 18px;
		font-weight: bold;
		color: #FFFFFF;
		line-height: 30px;
		text-align: left;

		@media (max-width: 1399.98px) {
			margin-bottom: 134px;
        }

		@media (max-width: 991.98px) {
			margin-bottom: 132px;
		}
		
		@media (max-width: 767.98px) {
			font-size: 12px;
			max-width: 252px;
			margin-bottom: 39px;
			line-height: 16px;
			font-weight: 400;
			text-align: center;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		width: 314px;
		border-radius: 100px;
		background-color: #9D5CD0;
		font-size: 18px;
		font-weight: bold;

		@media (max-width: 767.98px) {
			width: 200px;
			height: 40px;
			font-size: 12px;
		}
	}

	&__title {
		margin-bottom: 20px;
		display: inline-block;
		font-size: 72px;
		font-weight: bold;
		line-height: 68px;
		text-align: left;
		-webkit-text-stroke: 1px #000000; /* Толщина и цвет обводки */

		@media (max-width: 768px) {
			margin-bottom: 22px
		}
		
		@media (max-width: 767.98px) {
			margin-bottom: 5px;
			padding-right: 40px;
			line-height: 28px;
			font-size: 32px;
			text-align: center;
			margin-bottom: 11px;
			padding-right: 0;
		}
	}
}

.slide__header {
	max-width: 579px;
	position: relative;
	text-align: center;

	@media (max-width: 1399.98px) {
		max-width:670px;
    }

	@media (max-width: 991.98px) {
		max-width:621px;
	}

	@media (max-width: 767.98px) {
		max-width: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@mixin background($color) {
	background: linear-gradient(
			47.06deg,
			$color -3.87%,
			rgba(255, 255, 255, 0) 20.89%
		),
		#ffffff;
}
